extends base

- load humanize

block content
    .container.head-space

    h3 Counts
    p Human Genes: #{genes}
    p Human Proteins: #{proteins}
    p Disease Ontology: #{disease_ontology}
    p Compounds: #{compounds}
    p Microbial Species: #{microbial_species}
    p Microbial Genes: #{microbial_genes}
    p Microbial Proteins: #{microbial_proteins}
